<div class="container">
  <h3>Design surveys:</h3>
  <a href="/new_survey">Create a new Survey</a>
  <h3>Current Surveys:</h3>
  <% if @surveys != [] %>
    <% @surveys.each() do |survey| %>
      <h4><a href="/surveys/<%= survey.id() %>"><%= survey.name() %></a></h4>
    <% end %>
  <% else %>
    <h5>Please create a new survey</h5>
  <% end %>
</div>
