<h1><%= @survey.name%></h1>

  <% if @survey.questions != []%>
    <ul>
      <% @survey.questions.each do |question| %>
      <li><%= question.name %></li>
      <% end %>
    </ul>
  <% else %>
  <h3> Please create a new question </h3>
  <% end %>

<form action="/survey/<%= @survey.id %>/new" method="post">
  <input type="text" name="name" placeholder="Create your question here">
  <button type="submit" class="btn btn-primary">Create</button>
</form>
